:root {
    --navy-bg: rgb(48, 48, 64);
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.header {
    background-color: var(--navy-bg);
    padding: 24px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: white;
}

.hero-section {
    background-color: var(--navy-bg);
    padding: 48px 0;
}

.hero-section .container {
    display: flex;
    justify-content: space-between;
}

.hero-section h1 {
    margin-top: 0;
    color: white;
    font-size: 3rem;
}

.hero-left-column {
    display: flex;
    flex-direction: column;
}

.hero-left-column p {
    font-size: 1rem;
}



.footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--navy-bg);
}