:root {
    --navy-bg: rgb(48, 48, 64);
}

body {
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 24px;
}

.header {
    background-color: var(--navy-bg);
    padding: 24px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: white;
}

.hero-section {
    background-color: var(--navy-bg);
    padding: 48px 0;
}

.hero-section .container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.hero-section h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 3rem;
}

.hero-left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-left-column p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
    color: rgb(221, 214, 214);
}

.hero-left-column button {
    margin-top: 0;
    align-self: flex-start;
    flex: 0 0 auto;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    font-weight: 900;
    color: white;
    background-color: rgb(67, 104, 255);
    padding: 8px 16px;
}

.hero-image img {
    width: clamp(900px, 900vw, 900px);
    height: auto;
    max-width: 100%;
    max-height: 240px;
    object-fit: contain;
    display: block;
}

.feature-card-section {
    background-color: white;
}

.feature-card-section .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

h2 {
    margin-top: 2rem;
    align-self: center;
    font-size: 2rem;
}

.feature-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.card-box {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 4px solid lightblue;
    border-radius: 16px;
}

.testimonial-section {
    background-color: gainsboro;
}

.testimonial-section .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px;
}

h3 {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 100;
}

h4 {
    margin-top: 0;
    align-self: flex-end;
    font-size: 1.2rem;
    margin-right: 3rem;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--navy-bg);
}